html, body {
  height: 100%;               
  margin: 0;                
}

.App {
  display: flex;              
  flex-direction: column;     
  justify-content: space-between; 
  text-align: center;
  font-family: Arial, sans-serif;
  min-height: 100vh;         
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #282c34;
  color: white;
}

